.table3 {
  border-collapse:collapse;
  width:50%;
  margin:30px ;
  font-family:Arial,sans-serif;
  text-align:center;
}

.table3 th {
  background-color:#1e88e5;
  color:white;
  padding:12px;
  border:1px solid #333;
}

.table3 td{
  padding:10px;
  border:1px solid #333;
}


